#gtx-trans {
  background-color: rgb(245, 245, 245);
  box-sizing: content-box;
  cursor: pointer;
  height: 19px;
  width: 19px;
  z-index: 2147483647;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(220, 220, 220);
  border-image: initial;
  border-radius: 5px;
  padding: 3px;
}

img {
  width: 100%;
}